*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --lightred:#f4c7c0;
    --lightblue:#C7DAF3;
    --text-color:#707070;
    --button-bg:#313131;
    --darkred:#fd5f46;

}
html{
    font-family: "Poppins", sans-serif
}

/* nav  */

.nav-container{
    width:100%;
    height:8vh;
    display: flex;
    justify-content: center; 
    max-width: 1720px;
    z-index: 20;
}

nav{
    display: grid;
    width:80%;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
}
.nav-buttons{
    display:flex;
    justify-content: space-around;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration:none;
    color:var(--text-color);
    font-size:1.2em;
    transition:all 0.3s ease
}
a:hover{
    color:var(--darkred)
}
p{
    font-size:2rem;
    font-weight: 800;
    line-height: 1.6em;
    color:#979494;
}

.nav-button{
    padding:0.5em 1em;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background:transparent;
    font-size:1rem;
    transition:all 0.3s ease
}

.log-in{
    background:var(--button-bg);
    color:white;
}



.log-in:hover{
    background:transparent;
    color:black;
}

.sign-up:hover{
    background: var(--darkred);
    color:white;
    border:none;
}

/* landing page body content */
.row{
    display: flex;
    width:100%;
    height:auto;
    padding: 5vh 10% ;
}

.landing-page{
    width:50%;
    height:62vh;
    /* padding: 5vh 10% 25vh; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    width:100%;
}
.button-container{
    width:100%;
}
.landing-button{
    padding:1em 1em;
    border-radius:20px;
    width:60%;
    border:none;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--lightred), var(--lightblue));
}
.landing-button p{
    color:rgb(82, 81, 81);
    width:100%;
    height:100%;
}
.landing-button:hover{
    transform: scale(1.05);

}
.svg-image{
    height:80vh;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.1);
    overflow:hidden;
}
h1{
    font-size:68px;
}
