*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --lightred:#f4c7c0;
    --lightblue:#C7DAF3;
    --text-color:#707070;
    --button-bg:#313131;
    --darkred:#fd5f46;

}
html{
    font-family: "Poppins", sans-serif;
    
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
}

/* nav  */

.nav-container{
    width:100%;
    height:8vh;
    display: flex;
    justify-content: center; 
    max-width: 1720px;
    z-index: 20;
}
.mobile-menu{
    display:none;
}
#line{
    width:25px;
    height:4px;
    border-radius:4px;
    background:black;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}


nav{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    position:relative;
    padding: 0 10%;
}
.nav-logo{
    width:100%;
    height:8vh;
    display:flex;
    align-items: center;
}
svg.logo{
    display:flex;
    align-items: flex-start;
    left:0;
    width:50%;
    height:80%;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration:none;
    color:var(--text-color);
    font-size:1.2em;
    transition:all 0.3s ease
}
a:hover{
    color:var(--darkred)
}
p{
    font-size:2rem;
    font-weight: 800;
    line-height: 1.6em;
    color:#979494;
}

.nav-button{
    padding:0.5em 1em;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background:transparent;
    font-size:1rem;
    transition:all 0.3s ease;
    white-space:nowrap;
    }


.log-in{
    background:var(--button-bg);
    color:white;
}



.log-in:hover{
    background:transparent;
    color:var(--text-color);
}

.sign-up:hover{
    background: var(--darkred);
    color:white;
    border:none;
}

/* landing page body content */
.row{
    display: flex;
    width:100%;
    height:auto;
    padding: 5vh 10% ;
    max-width:1720px;
}

.landing-page{
    width:50%;
    height:auto;
    /* padding: 5vh 10% 25vh; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.content{
    width:100%;
    padding-bottom:1em;
}
.content p{
    font-size:2.0m;
    max-width:40ch;
}
.button-container{
    width:100%;
}
.landing-button{
    padding:1em 1em;
    border-radius:20px;
    width:60%;
    border:none;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--lightred), var(--lightblue));
}
.landing-button p{
    color:rgb(82, 81, 81);
    width:100%;
    height:100%;
}
.landing-button:hover{
    transform: scale(1.05);

}
.svg-image{
    height:80vh;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1.1);
    overflow:hidden;
}
svg{
    width:100%;
    height:auto;
}
h1{
    font-size:68px;
}

@media screen and (max-width:1600px){
    h1{
        font-size:56px;
    }
    p{
        font-size:1.4em;
        line-height: 1.8em;
    }
}
@media screen and (max-width:1441px){
    h1{
        font-size:50px;
    }
    p{
        font-size:1.4em;
        line-height: 1.8em;
    }
}
@media screen and (max-width:1025px){
    h1{
        font-size:45px;
    }
    p{
        font-size:1.2em;
        line-height: 1.6em;
    }
    a{
        font-size:1em;
    }
    .nav-button{
        font-size:.7em;
        
}
@media screen and (max-width:768px){
    nav{
        display:grid;
        grid-template-columns: 2fr 6fr;
    }

    .mobile-menu{
        display: inline-flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
    }
    .landing-page{
        justify-content:center;
    }
    h1{
        font-size:40px;
    }
    p{
        font-size:1.0em;
        line-height: 1.8em;
    }
    a{
        font-size:1em;
    }
    .nav-button{
        font-size:.7em;
    }
    .svg-image{
        height:60vh;
    }
    .nav-list{
        top:8vh;
        width:100%;
        position:absolute;
        right:-100%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        text-align: center;
        transition: all 0.3s ease;
        background: white;
        
    }
    .nav-list.active{
        right:0;
    }
    a{
        width:100%;
        height:100%;
        transition: all 0.3s ease;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    a:hover{
        color:white
    }

    li{
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:8vh;
    }
    li:hover{
        background:var(--darkred);
    }
    .nav-button{
        width:100%;
        height:100%;
        border-radius:0;
        border:none;
        font-size:1.0em;
        color:white;
    }
    .sign-up{
        background:white;
        color:black;
    }
    .nav-button:hover{
        color:white;
    }
    
    .mobile-menu.is-active #line:nth-child(2){
        opacity:0
    }
    .mobile-menu.is-active #line:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .mobile-menu.is-active #line:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

    
}
@media screen and (max-width:426px){
    .svg-image{
        display:none;
    }
    .landing-page{
        width:100%;
        align-items: center;
        text-align: center;
    }
    h1{
        font-size:50px;
    }
    p{
        font-size:1.0em;
        line-height: 1.8em;
    }
    a{
        font-size:1em;
    }   
}
@media screen and (max-width:376px){
    h1{
        font-size:48px;
    }
    
}
@media screen and (max-width:376px){
    h1{
        font-size:40px;
    }
    
}